build
*.log
*.aux
built
CMakeLists.txt.user
.vscode
.vstags
.history
cache
cvtreeManual.aux
cvtreeManual.fdb_latexmk
cvtreeManual.fls
cvtreeManual.log
cvtreeManual.synctex.gz
__latexindent_temp.tex
example/
!exmaple/faa/
!exmaple/list
SourceTrail/
a.out
